body {
  margin: 0;
  font-family: Myriad Pro-Regular, sans-serif;
  font-size: 14px;
}
header {
  padding: 10px;
  height: 40px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
}
.logo-content {
  margin: auto 0;
}
.nav {
  margin: auto 0;
}
.nav-ul {
  display: flex;
}
li {
  margin: 0 auto;
  color: #0a1c51;
  font-weight: bold;
  list-style-type: none;
  margin-left: 28px;
  font-size: 13px;
}
a {
  text-decoration: none;
}
.container {
  background: #ffffff;
}
.container-block {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.background-images {
  position: relative;
  width: 100%;
  text-align: center;
}

.container-block-content {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  left: 0;
  top: 0;
}
.content {
  margin-top: 0px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  font-weight: bold;
  color: #ffffff;
}

.content-last-news {
  margin-top: 0px;
  font-weight: bold;
  color: #ffffff;
}
.content p {
  color: #000000;
}
.about-row-1 h2 {
  color: #082362;
  font-size: 30px;
  font-weight: bold;
}
.about-row-block .block-content {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
}
.about-row-block .block-content .block-content-row-1 h2 {
  color: #1d253b;
  margin-left: 10px;
  margin-top: 5px;
}
.about-row-block .block-content:hover {
  background-color: #082362;
}
.about-row-block .block-content:hover p {
  color: #ffffff;
}
.about-row-block .block-content:hover .block-content-row-1 h2 {
  color: #ffffff;
}
.about-row-block
  .block-content:hover
  .block-content-row-1
  .about-our-service-images {
  background-image: url("/images/Service-Planet.png");
}
.about-background-images {
  width: 100%;
  text-align: center;
  margin-bottom: 245px;
}
.block-content-row-1 {
  display: flex;
}
/* Nav */
.nav-layer {
  display: flex;
  top: 0;
}
.nav-layer-images {
  position: absolute;
  top: 0;
  right: 12%;
  width: 40%;
}
.nav-layer-content {
  display: flex;
  position: absolute;
  top: 2.5%;
  right: 15.5%;
}
.nav-layer-content-block {
  display: flex;
  position: relative;
  height: 15px;
  margin-right: 20px;
}
.nav-layer-content-block a {
  position: relative;
  white-space: nowrap;
  margin-left: 10px;
  color: #131f4f;
}
.nav-layer-content-block p {
  position: relative;
  white-space: nowrap;
  margin-left: 10px;
  margin-top: 0px;
  color: #131f4f;
}

.nav-layer-content-block-last {
  display: flex;
  position: relative;
  height: 15px;
}
.nav-layer-content-block-last a {
  position: relative;
  white-space: nowrap;
  margin-left: 10px;
  color: #131f4f;
}
.nav-layer-content-block-clock {
  background-image: url("/images/Nav-layer-Clock.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: auto;
}
.nav-layer-content-block-message {
  background-image: url("/images/Nav-layer-Message.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 15px;
  margin: auto;
}
.nav-layer-content-block-phone {
  background-image: url("/images/Nav-layer-Phone.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: auto;
}
/* About block */
.about-builder-img {
  margin-top: 190px;
  width: 472px;
  height: 578px;
}
.about-text {
  margin: 0;
  margin-top: 255px;
  margin-left: 80px;
  width: 530px;
}
.about-text h1 {
  margin: 0;
  width: 530px;
  font-size: 40px;
}
.about-text p {
  color: #fff;
}
.about-button-block a {
  margin: 0 10px; /* Чёрная рамка */
  border: 3px solid #fff; /* Белая рамка */
  border-radius: 10px;
  padding: 5px 20px;
  width: 20%;
  color: #ffffff;
}
.about-logo {
  position: absolute;
  margin-top: 690px;
  margin-left: 490px;
}
.about-logo img {
  text-align: center;
  margin: 0 15px;
}
.about-row-1 {
  display: flex;
}
.about-row-1 h2 {
  white-space: nowrap;
}
.about-row-1 p {
  font-size: 14px;
  color: #6b6b6b;
  margin-left: 30px;
}
.about-col-2 {
  margin-left: 30px;
}
.about-col-3 {
  margin-left: 30px;
}
.about-hr {
  position: absolute;
  display: block;
  border: none;
  color: #858da9;
  background-color: #858da9;
  height: 5px;
  margin-right: 0px;
  width: 39%;
  margin: 763px 472px;
}
.service-hr,
.service-hr-2 {
  margin-top: 15px;
  margin-left: 28px;
  border: none;
  color: #858da9;
  background-color: #092463;
  height: 70px;
  width: 1px;
}
.service-hr-2 {
  margin-top: 30px;
  margin-left: -1px;
  border: none;
  color: #858da9;
  background-color: #092463;
  height: 40px;
  width: 4px;
}
.content-grid {
  margin-top: 0px;
  font-weight: bold;
  color: #ffffff;
}
.about-row {
  display: flex;
}
.about-our-service-images {
  background-image: url("/images/Service-teach.png");
  background-repeat: no-repeat;
  width: 30px;
}
/* Video block */
.col-1 {
  display: flex;
}

.play {
  position: relative;
  margin-left: -18px;
}
.play,
.play::before,
.play::after {
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 0 3px white;
  transform: rotate(90deg);
}
.play::before,
.play::after {
  content: "";
  position: absolute;
  top: -12px;
}
.play::before {
  left: -7px;
  transform: rotate(-60deg);
}
.play::after {
  right: -7px;
  transform: rotate(60deg);
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  margin-left: 60%;
  width: 80px;
  height: 80px;
  color: white;
  background: #082362;
  border-radius: 80%;
}
.pulse:hover {
  animation: radial-pulse 1s infinite;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}
.video-block {
  margin: 0 auto;
  left: 0;
}
.video-block-content {
  display: block;
  width: 60%;
  margin-top: -20px;
  margin-left: 20px;
}
.video-background-left-content {
  background-image: url("/images/Video-back.jpg");
  background-repeat: no-repeat;
  width: 50%;
  margin: auto;
}
.video-background-right-content {
  background-image: url("/images/Video-image.jpg");
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  margin: auto;
}

.video-block p {
  color: #ffffff;
  font-weight: bold;
}
.video-block p {
  color: #949494;
}
.row-1 {
  position: absolute;
  margin-left: 0;
  margin-top: 30px;
}
.row-2 {
  position: absolute;
  margin-left: 0;
  margin-top: 120px;
}
.row-3 {
  position: absolute;
  margin-left: 0;
  margin-top: 210px;
}
.col-2-row-1 {
  font-weight: bold;
  color: #ffffff;
}
.image-task-complete {
  background-image: url("/images/task-complete.png");
  background-repeat: no-repeat;
  width: 47px;
}

/* Last News */
.last-news-row {
  display: flex;
  float: left;
  color: #1d253b;
  margin-top: 30px;
}
.last-news-col {
  background-color: #ffffff;
}
.last-news-row p {
  color: #1d253b;
}
.last-news-row-1 {
  display: flex;
}
.last-news-row-1 h2 {
  white-space: nowrap;
  margin-top: 30px;
}
.last-news-row-1 p {
  font-size: 14px;
  color: #c1c1c1;
  margin-left: 30px;
  margin-top: 30px;
}
.last-news-hr,
.last-news-hr-2 {
  margin-top: 15px;
  margin-left: 28px;
  border: none;
  color: #858da9;
  background-color: #ffffff;
  height: 70px;
  width: 1px;
}
.last-news-hr-2 {
  margin-top: 30px;
  margin-left: -1px;
  border: none;
  color: #858da9;
  background-color: #ffffff;
  height: 40px;
  width: 4px;
}
.last-news-col:hover .last-news-block-content {
  background-color: #082362;
  cursor: pointer;
}
.last-news-col .last-news-block-content .last-news-block h2 {
  color: black;
}
.last-news-col .last-news-block-content .last-news-block p {
  color: #6b6b6b;
}
.last-news-col:hover .last-news-block-content .last-news-block h2 {
  color: #ffffff;
}
.last-news-col:hover .last-news-block-content .last-news-block p {
  color: #ffffff;
}
.last-news-block {
  padding: 10px;
}
.block-href {
  position: absolute;
  text-align: center;
  background-color: #263165;
  width: 100px;
  bottom: -75px;
  left: 50%;
  padding: 15px;
  color: #ffffff;
}
/* Footer */
.footer-row-1 {
  background: #082360;
}
.footer-row-1 .container-block-content {
  position: relative;
  margin: 0;
}
.footer-col-1 {
  width: 290px;
  margin-right: 50px;
}
.footer-col-1-row-2 {
  position: absolute;
  bottom: 85px;
}
.footer-col-1-row-2 img {
  margin-right: 15px;
}
.footer-row-2 {
  margin: 0;
  background: #001443;
  height: 19px;
  margin-bottom: 0;
  padding: 10px;
}
.footer-content {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 85px;
  padding-bottom: 85px;
  display: flex;
  font-weight: bold;
  color: #ffffff;
}
.footer-row-2 p {
  margin: auto 0;
  font-size: 16px;
  color: #949494;
  text-align: center;
}
.footer-col {
  margin-right: 50px;
}
.footer-col-last {
  right: 0;
}
.footer-col a {
  color: #ffffff;
}
.footer-p,
.footer-block-a a,
p {
  font-size: 13px;
  color: #d9d9d9;
  font-weight: normal;
  letter-spacing: 1px;
}
.footer-block-a {
  margin-top: 17px;
  white-space: nowrap;
}
.footer-block-a a:hover {
  color: #fff;
}
.footer-block-input input {
  display: block;
  background: none;
  color: #d9d9d9;
  border: none;
  background: none;
  width: 100%;
}
.footer-col-last a {
  color: #ffffff;
  font-weight: bold;
}
